:root {
    --navy-blue-color: #2E2F42;
    
    --white-color: #FFFFFF;

    --iris-color: #4D5AE5;

    --slate-color: #434455;

    --corni-flower-color: #E7E9FC; 

    --cloud-color: #F4F4FD;

    --active-button-color: #404BBF;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
}

.list {
    list-style: none;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
  display: flex;
  width: 1440px;
  height: 72px;
}

.header-navigation {
display: flex;
align-items: center;
margin-right: auto;
}

.navigation-logo {
font-family: 'Raleway', sans-serif; 
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris-color);
text-decoration: none;
margin-right: 77px;
}

.studio {
    font-family: 'Raleway', sans-serif;
    color: var(--navy-blue-color);
}

.navigation-list {
    display: flex;
    margin-right: auto;
    gap: 40px;
}

.navigation-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--slate-color);
}

.navigation-link:active {
    color: var(--iris-color);
}

.header-contacts {
    display: flex;
    align-items: center;
    gap: 40px;
}
 
.header-link {
   font-style: normal;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--slate-color);
   text-decoration: none;
}

.header-link:hover,
.header-link:focus {
    color: var(--iris-color);
}

.container {
    width: 1152px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
}

/* ------------HERO------------- */
.section-hero {
    background-color: var(--navy-blue-color);
    width: 1440px;
    height: 603px;
    margin: 0 auto;
    text-align: center;
}

.title-hero {
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    padding-top: 192px;
    max-width: 492px;
    margin-top: 192px;
    margin: 0 auto;
}

.hero-button {
font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
align-items: center;
letter-spacing: 0.04em;
cursor: pointer; 
background-color: var(--iris-color);
color: var(--white-color);
Width: 170px;
height: 51px;
border: 1px solid var(--iris-color);
border-radius: 4px;
margin-top: 48px;
}

.hero-button:hover,
.hero-button:focus {
background-color: var(--iris-color);
color: var(--white-color);
}

.hero-button:active {
    background-color: var(--active-button-color);
    color: var(--white-color);
    border: 1px solid var(--active-button-color);
    border-radius: 4px;
    }

/* ------------FEATURES------------- */

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
}

.features-wrap {
    display: flex;
    gap: 24px;
}

.features-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-color);
width: 264px;
}

/* ------------WORK------------- */

.work-section {
    margin-bottom: 120px;
}

.second-title {
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navy-blue-color);
}

.work-title {
    margin-bottom: 72px;
}

.work-list {
    display: flex;
    gap: 24px;
}

/* ------------TEAM------------- */

.team-section {
    width: 1440px;
    height: 732px;
    background-color: var(--cloud-color);
    margin: 0 auto;
}

.team-title {
    padding-top: 120px;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
    width: calc((100% - 72px) / 4);
    height: 380px;
    background-color: var(--white-color);
}

.team-item-title {
    margin-top: 32px;
    text-align: center;
}

.team-text {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--slate-color);
margin-top: 8px;
}

/* ------------PROJECTS------------- */

.projects-section {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.projects-buttons {
    display: flex;
    margin-top: 96px;
    gap: 24px;
}

.buttons-container {
 width: 586px;
 margin: 0 auto;
}

.space-between {
    justify-content: space-between;
}

.filter-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background-color: var(--corni-flower-color);
    border: 1px solid var(--corni-flower-color);
    border-radius: 4px;
    cursor: pointer; 
}

.btn-all {
    width: 69px;
    height: 48px;
    justify-content: center;
}

.btn-web-site {
    width: 116px;
    height: 48px;
    justify-content: center;
}

.btn-app {
    width: 78px;
    height: 48px;
    justify-content: center;
}

.btn-design {
    width: 101px;
    height: 48px;
    justify-content: center;
}

.btn-marketing {
    width: 126px;
    height: 48px;
    justify-content: center;
}

.filter-button:hover,
.filter-button:focus {
background-color: var(--iris-color);
color: var(--white-color);
border-radius: 4px;
border: 1px solid var(--iris-color);
}

.filter-button:active {
    background-color: var(--active-button-color);
    color: var(--white-color);
    border-radius: 4px;
    border: 1px solid var(--iris-color);
    }

    .projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-top: 72px;
}

.projects-item {
    width: calc((100% - 48px) / 3);
    height: calc((100% - 96px) / 3);
}

.projects-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    padding-left: 16px;
    margin-top: 32px;
}

.projects-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-color);
padding-left: 16px;
margin-top: 8px;
}

/* ------------FOOTER------------- */

.section-footer {
    background-color: var(--navy-blue-color);
    width: 1440px;
    height: 310px;
    margin: 0 auto;
}
 .footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--corni-flower-color);
width: 264px;
margin-top: 16px;
 }
 
 .footer-logo {
font-family: 'Raleway', sans-serif; 
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris-color);
text-decoration: none;
}

 .studio-footer {
    font-family: 'Raleway', sans-serif;
    color: var(--cloud-color);
 }

 .footer-content {
    display: block;
   width: 264px;
   margin-left: 156px;
   padding-top: 100px;
}

